<!-- Los colores tenemos que ponerlos en una tabla de colores que usemos, para no andar insertandolos siempre -->

<div class="w-full h-10 bg-edelpa-primary"></div>

<header class="w-full bg-white shadow-md">
  <div class="flex items-center justify-between h-25 px-25">
    <!-- Hay que arreglar la imagen -->
    <div class="flex items-center">
    <img src="https://www.sindicatoedelpa.cl/assets/img/logo/edelpa2.png" alt="Logo Sindicato" class="h-20 w-auto">
    </div>

    <nav>
      <ul class="hidden md:flex items-center gap-7">
        <li>
          <a routerLink="/home" routerLinkActive="border-b-2 border-edelpa-accent pb-1" 
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            INICIO
          </a>
        </li>
        <li>
          <a routerLink="/sindicato" routerLinkActive="border-b-2 border-edelpa-accent pb-1"
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            SINDICATO
          </a>
        </li>
        <li>
          <a routerLink="/galeria" routerLinkActive="border-b-2 border-edelpa-accent pb-1"
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            GALERIA
          </a>
        </li>
        <li>
          <a routerLink="/deporte" routerLinkActive="border-b-2 border-edelpa-accent pb-1"
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            DEPORTE
          </a>
        </li>
        <li>
          <a routerLink="/bienestar" routerLinkActive="border-b-2 border-edelpa-accent pb-1"
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            BIENESTAR
          </a>
        </li>
        <li>
          <a routerLink="/documentos" routerLinkActive="border-b-2 border-edelpa-accent pb-1"
             class="text-edelpa-primary font-bold text-[15px] border-b-2 border-transparent hover:border-edelpa-accent pb-1 transition-all cursor-pointer">
            DOCUMENTOS
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
